<script src="/jquery.min.js"></script>
<script src="/highcharts.js"></script>
<link href="/styles.css" rel="stylesheet" type="text/css" />

<html>
    <a class="nav" href='/data'>Back to Data</a>
    <table class="summary">
        <tr>
            <th>Measurement</th>
            <th>Steps</th>
        </tr>
        <tr>
            <td><%= @device_1.format %></td>
            <td><%= @analyzer_1.steps %></td>
        </tr>
    </table>

    <table class="summary">
        <tr>
            <th>Measurement</th>
            <th>Steps</th>
        </tr>
        <tr>
            <td><%= @device_2.format %></td>
            <td><%= @analyzer_2.steps %></td>
        </tr>
    </table>

    <div id="dot-product" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="filtered" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div id="x-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="y-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="z-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div id="xyz-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div id="gravity-x-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="gravity-y-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="gravity-z-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div id="xyzg-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div id="total-x-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="total-y-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="total-z-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <div id="magnitude-total-acceleration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</html>

<script>
  $(function () {
        $('#dot-product').highcharts({
            title: { text: 'Dot Product Data' },
            series: [{
                name: 'Method 1',
                data: <%= @parser_1.dot_product_data %>
            }, {
                name: 'Method 2',
                data: <%= @parser_2.dot_product_data %>
            }]
        });

        $('#filtered').highcharts({
            title: { text: 'Filtered Data' },
            series: [{
                name: 'Method 1',
                data: <%= @parser_1.filtered_data %>
            }, {
                name: 'Method 2',
                data: <%= @parser_2.filtered_data %>
            }]
        });

        $('#x-acceleration').highcharts({
            title: { text: 'x Acceleration After Parsing' },
            series: [{
                name: 'Method 1',
                data: <%= @x_1 %>
            }, {
                name: 'Method 2',
                data: <%= @x_2 %>
            }]
        });

        $('#y-acceleration').highcharts({
            title: { text: 'y Acceleration After Parsing' },
            series: [{
                name: 'Method 1',
                data: <%= @y_1 %>
            }, {
                name: 'Method 2',
                data: <%= @y_2 %>
            }]
        });

        $('#z-acceleration').highcharts({
            title: { text: 'z Acceleration After Parsing' },
            series: [{
                name: 'Method 1',
                data: <%= @z_1 %>
            }, {
                name: 'Method 2',
                data: <%= @z_2 %>
            }]
        });

        $('#xyz-acceleration').highcharts({
            title: { text: 'User Acceleration Magnitude' },
            series: [{
                name: 'Method 1',
                data: <%= @xyz_1 %>
            }, {
                name: 'Method 2',
                data: <%= @xyz_2 %>
            }]
        });

        $('#gravity-x-acceleration').highcharts({
            title: { text: 'Gravity x Acceleration' },
            series: [{
                name: 'Method 1',
                data: <%= @xg_1 %>
            }, {
                name: 'Method 2',
                data: <%= @xg_2 %>
            }]
        });

        $('#gravity-y-acceleration').highcharts({
            title: { text: 'Gravity y Acceleration' },
            series: [{
                name: 'Method 1',
                data: <%= @yg_1 %>
            }, {
                name: 'Method 2',
                data: <%= @yg_2 %>
            }]
        });

        $('#gravity-z-acceleration').highcharts({
            title: { text: 'Gravity z Acceleration' },
            series: [{
                name: 'Method 1',
                data: <%= @zg_1 %>
            }, {
                name: 'Method 2',
                data: <%= @zg_2 %>
            }]
        });

        $('#xyzg-acceleration').highcharts({
            title: { text: 'Gravitational Acceleration Magnitude' },
            series: [{
                name: 'Method 1',
                data: <%= @xyzg_1 %>
            }, {
                name: 'Method 2',
                data: <%= @xyzg_2 %>
            }]
        });

        $('#total-x-acceleration').highcharts({
            title: { text: 'Total x Acceleration' },
            series: [{
                name: 'Method 1',
                data: <%= @x_raw_1 %>
            }, {
                name: 'Method 2',
                data: <%= @x_plus_xg_2 %>
            }]
        });

        $('#total-y-acceleration').highcharts({
            title: { text: 'Total y Acceleration' },
            series: [{
                name: 'Method 1',
                data: <%= @y_raw_1 %>
            }, {
                name: 'Method 2',
                data: <%= @y_plus_yg_2 %>
            }]
        });

        $('#total-z-acceleration').highcharts({
            title: { text: 'Total z Acceleration' },
            series: [{
                name: 'Method 1',
                data: <%= @z_raw_1 %>
            }, {
                name: 'Method 2',
                data: <%= @z_plus_zg_2 %>
            }]
        });

        $('#magnitude-total-acceleration').highcharts({
            title: { text: 'Magnitude Total Acceleration' },
            series: [{
                name: 'Method 1',
                data: <%= @magnitude_total_1 %>
            }, {
                name: 'Method 2',
                data: <%= @magnitude_total_2 %>
            }]
        });
    });
</script>